In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

데이터 불러오기
 - 2020_2%_인구사항_20240623_06781.csv
 - 사용 이유 : 시군구별코드가 존재해서

In [8]:
%pwd

'c:\\Users\\rladn\\Desktop\\통계데이터서비스_공모전\\code'

In [9]:
# path = '/content/drive/MyDrive/mulcam_bigdata/2024통계데이터공모전/기획_데이터수집/건우님/통계자료/2020_2%_인구사항_20240623_06781.csv'
path = '../소아과_관련자료/2020_2%_인구사항_20240623_06781.csv'

In [10]:
raw = pd.read_csv(path, encoding='cp949')
raw.head()

C:\Users\rladn\AppData\Local\Temp\ipykernel_13160\2723225879.py:1: DtypeWarning: Columns (56) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv(path, encoding='cp949')

,가구일련번호,행정구역시도코드,행정구역시군구코드,동읍면부_구분코드,조사구특성코드,가구원번호,성별코드,만연령,가구주관계코드,출생국적_대한민국여부,...,고령자생활비원천_배우자직업_생활비마련여부,고령자생활비원천_예금적금_생활비마련여부,고령자생활비원천_공적연금_생활비마련여부,고령자생활비원천_개인연금_생활비마련여부,고령자생활비원천_부동산_생활비마련여부,고령자생활비원천_동거자녀_생활비마련여부,고령자생활비원천_부모_생활비마련여부,고령자생활비원천_국가지자체보조_생활비마련여부,고령자생활비원천_기타_생활비마련여부,인구가중값
0,1101000004,11,10,3,1,1,2,72,1,1,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,32
1,1101000021,11,10,3,1,1,2,72,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,40
2,1101000026,11,10,3,1,1,1,77,1,1,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,24
3,1101000026,11,10,3,1,2,2,71,2,1,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,23
4,1101000026,11,10,3,1,3,1,44,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22

In [11]:
raw.shape

(926967, 90)

In [12]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926967 entries, 0 to 926966
Data columns (total 90 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   가구일련번호                    926967 non-null  int64
 1   행정구역시도코드                  926967 non-null  int64
 2   행정구역시군구코드                 926967 non-null  int64
 3   동읍면부_구분코드                 926967 non-null  int64
 4   조사구특성코드                   926967 non-null  object
 5   가구원번호                     926967 non-null  int64
 6   성별코드                      926967 non-null  int64
 7   만연령                       926967 non-null  int64
 8   가구주관계코드                   926967 non-null  int64
 9   출생국적_대한민국여부               926967 non-null  int64
 10  현재국적_대한민국여부               926967 non-null  int64
 11  교육정도코드                    926967 non-null  int64
 12  수학구분코드                    860553 non-null  float64
 13  출생지구분코드                   926967 non-null  int64
 14  출생지_타행정구역시도코드             507980 non-null  float64
 15  1년전거주지_구분코드               926967 non-null  int64
 16  1년전거주지_타시도행정구역코드          58642 non-null   float64
 17  5년전거주지_구분코드               926967 non-null  int64
 18  5년전거주지_타시도행정구역코드          182278 non-null  float64
 19  아동보육_부모_돌봄주체여부            53947 non-null   float64
 20  아동보육_조부모_돌봄주체여부           10818 non-null   float64
 21  아동보육_기타가족및친인척_돌봄주체여부      1293 non-null    float64
 22  아동보육_가사도우미및이웃사람_돌봄주체여부    1082 non-null    float64
 23  아동보육_혼자및아동끼리지냄_돌봄주체여부     4051 non-null    float64
 24  아동보육_어린이집및놀이방_돌봄주체여부      16235 non-null   float64
 25  아동보육_유치원_돌봄주체여부           7799 non-null    float64
 26  아동보육_지역아동센터_돌봄주체여부        1205 non-null    float64
 27  아동보육_방과후학교_돌봄주체여부         6276 non-null    float64
 28  아동보육_학원_돌봄주체여부            14353 non-null   float64
 29  아동보육_기타_돌봄주체여부            94 non-null      float64
 30  활동제약_시각장애_지속여부            897844 non-null  float64
 31  활동제약_청각장애_지속여부            897844 non-null  float64
 32  활동제약_육체적제약_지속여부           897844 non-null  float64
 33  활동제약_정신적제약_지속여부           897844 non-null  float64
 34  활동제약_지적자폐성장애_지속여부         897844 non-null  float64
 35  활동제약_언어장애_지속여부            897844 non-null  float64
 36  활동제약_지속기간코드               56019 non-null   float64
 37  활동제약_돌봄필요여부               56019 non-null   float64
 38  통근통학구분코드                  842898 non-null  float64
 39  통근통학장소코드                  515327 non-null  float64
 40  통근통학_타행정구역읍면동코드           210964 non-null  float64
 41  교통수단_도보여부                 100856 non-null  float64
 42  교통수단_자전거_이용여부             8893 non-null    float64
 43  교통수단_승용차및소형승합차_이용여부       230456 non-null  float64
 44  교통수단_트럭_이용여부              16910 non-null   float64
 45  교통수단_시내좌석마을버스_이용여부        83738 non-null   float64
 46  교통수단_통근통학버스이용_이용여부        25535 non-null   float64
 47  교통수단_고속시외버스_이용여부          3237 non-null    float64
 48  교통수단_전철지하철_이용여부           61279 non-null   float64
 49  교통수단_기차_이용여부              762 non-null     float64
 50  교통수단_택시_이용여부              2754 non-null    float64
 51  교통수단_기타_이용여부              7570 non-null    float64
 52  통근통학_소요분수                 926967 non-null  int64
 53  경제활동상태코드                  818549 non-null  float64
 54  종사상지위코드                   481536 non-null  float64
 55  산업대분류코드                   926967 non-null  object
 56  직업대분류코드                   481536 non-null  object
 57  현직업근무년수코드                 481536 non-null  float64
 58  근로장소코드                    481536 non-null  float64
 59  혼인상태코드                    818549 non-null  float64
 60  초혼연령코드                    586472 non-null  float64
 61  남아출산수                     294354 non-null  float64
 62  여아출산수                     294353 non-null  float64
 63  남아사망수                     13706 non-null   float64
 64  여아사망수                     13706 non-null   float64
 65  추가자녀계획유무                  320643 non-null  float64
 66  추가계획자녀수                   12868 non-null   float64
 67  결혼전취업유무                   320618 non-null  float64
 68  경력단절유무                    175235 non-null  float64
 69  사회활동_사회분야단체_참여및활동여부       29175 non-null   float64
 70  사회활동_경제분야단체_참여및활동여부       12074 non-null   float64
 71  사회활동_문화분야단체_참여및활동여부       69923 non-null   float64
 72  사회활동_정치분야단체_참여및활동여부       4159 non-null    float64
 73  사회활동_종교분야단체_참여및활동여부       55685 non-null   float64
 74  사회활동_지역단체_참여및활동여부         13606 non-null   float64
 75  사회활동_친목단체_참여및활동여부         110682 non-null  float64
 76  사회활동_교육단체_참여및활동여부         12172 non-null   float64
 77  사회활동_기타_참여및활동여부           21 non-null      float64
 78  사회활동_없음_참여및활동여부           542198 non-null  float64
 79  고령자생활비원천_본인직업_생활비마련여부     441996 non-null  float64
 80  고령자생활비원천_배우자직업_생활비마련여부    173463 non-null  float64
 81  고령자생활비원천_예금적금_생활비마련여부     52973 non-null   float64
 82  고령자생활비원천_공적연금_생활비마련여부     62684 non-null   float64
 83  고령자생활비원천_개인연금_생활비마련여부     10533 non-null   float64
 84  고령자생활비원천_부동산_생활비마련여부      19025 non-null   float64
 85  고령자생활비원천_동거자녀_생활비마련여부     63412 non-null   float64
 86  고령자생활비원천_부모_생활비마련여부       55451 non-null   float64
 87  고령자생활비원천_국가지자체보조_생활비마련여부  72861 non-null   float64
 88  고령자생활비원천_기타_생활비마련여부       5430 non-null    float64
 89  인구가중값                     926967 non-null  int64
dtypes: float64(71), int64(16), object(3)
memory usage: 636.5+ MB

필요해 보이는 컬럼만 선택

In [45]:
col1 = ['가구일련번호','행정구역시도코드','행정구역시군구코드','성별코드','만연령']
col2 = ['가구일련번호','행정구역시도코드','행정구역시군구코드','남아출산수','여아출산수','혼인상태코드','초혼연령코드','인구가중값']

In [46]:
raw[col1]

            가구일련번호  행정구역시도코드  행정구역시군구코드  성별코드  만연령
0       1101000004        11         10     2   72
1       1101000021        11         10     2   72
2       1101000026        11         10     1   77
3       1101000026        11         10     2   71
4       1101000026        11         10     1   44
...            ...       ...        ...   ...  ...
926962  3902013771        39         20     1   63
926963  3902013776        39         20     2   51
926964  3902013776        39         20     1   24
926965  3902013776        39         20     2   21
926966  3902013805        39         20     1   42

[926967 rows x 5 columns]

In [47]:
raw[col2]

            가구일련번호  행정구역시도코드  행정구역시군구코드  남아출산수  여아출산수  혼인상태코드  초혼연령코드  인구가중값
0       1101000004        11         10    1.0    2.0     3.0     3.0     32
1       1101000021        11         10    1.0    2.0     3.0     4.0     40
2       1101000026        11         10    NaN    NaN     2.0     5.0     24
3       1101000026        11         10    1.0    1.0     2.0     4.0     23
4       1101000026        11         10    NaN    NaN     1.0     NaN     22
...            ...       ...        ...    ...    ...     ...     ...    ...
926962  3902013771        39         20    NaN    NaN     4.0     4.0    105
926963  3902013776        39         20    1.0    1.0     2.0     4.0     70
926964  3902013776        39         20    NaN    NaN     1.0     NaN     79
926965  3902013776        39         20    NaN    NaN     1.0     NaN     75
926966  3902013805        39         20    NaN    NaN     2.0     3.0    103

[926967 rows x 8 columns]

In [257]:
df1 = raw[col1]
df1.head()

       가구일련번호  행정구역시도코드  행정구역시군구코드  성별코드  만연령
0  1101000004        11         10     2   72
1  1101000021        11         10     2   72
2  1101000026        11         10     1   77
3  1101000026        11         10     2   71
4  1101000026        11         10     1   44

In [258]:
df2 = raw[col2]
df2.head()

       가구일련번호  행정구역시도코드  행정구역시군구코드  남아출산수  여아출산수  혼인상태코드  초혼연령코드  인구가중값
0  1101000004        11         10    1.0    2.0     3.0     3.0     32
1  1101000021        11         10    1.0    2.0     3.0     4.0     40
2  1101000026        11         10    NaN    NaN     2.0     5.0     24
3  1101000026        11         10    1.0    1.0     2.0     4.0     23
4  1101000026        11         10    NaN    NaN     1.0     NaN     22

In [259]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926967 entries, 0 to 926966
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   가구일련번호     926967 non-null  int64
 1   행정구역시도코드   926967 non-null  int64
 2   행정구역시군구코드  926967 non-null  int64
 3   성별코드       926967 non-null  int64
 4   만연령        926967 non-null  int64
dtypes: int64(5)
memory usage: 35.4 MB

In [260]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926967 entries, 0 to 926966
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   가구일련번호     926967 non-null  int64
 1   행정구역시도코드   926967 non-null  int64
 2   행정구역시군구코드  926967 non-null  int64
 3   남아출산수      294354 non-null  float64
 4   여아출산수      294353 non-null  float64
 5   혼인상태코드     818549 non-null  float64
 6   초혼연령코드     586472 non-null  float64
 7   인구가중값      926967 non-null  int64
dtypes: float64(4), int64(4)
memory usage: 56.6 MB

df1 = 소아인구

df2 = 출생아수 + 신혼부부 수

In [261]:
df1['행정구역시도코드'].unique()

array([11, 21, 22, 23, 24, 25, 26, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39],
      dtype=int64)

In [262]:
df1['행정구역시도코드'].nunique()

17

시도코드 -> 시도명 컬럼 만들기

In [263]:
# 코드와 시도명을 매핑하는 딕셔너리 생성
code_to_name = {
    "00": "전국",
    "11": "서울특별시",
    "21": "부산광역시",
    "22": "대구광역시",
    "23": "인천광역시",
    "24": "광주광역시",
    "25": "대전광역시",
    "26": "울산광역시",
    "29": "세종특별자치시",
    "31": "경기도",
    "32": "강원도",
    "33": "충청북도",
    "34": "충청남도",
    "35": "전라북도",
    "36": "전라남도",
    "37": "경상북도",
    "38": "경상남도",
    "39": "제주특별자치도"
}

# 행정구역시도코드 컬럼을 문자열로 변환한 후 매핑 적용
df1['행정구역시도명'] = df1['행정구역시도코드'].astype(str).map(code_to_name)
df2['행정구역시도명'] = df2['행정구역시도코드'].astype(str).map(code_to_name)

C:\Users\rladn\AppData\Local\Temp\ipykernel_13160\3618133610.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['행정구역시도명'] = df1['행정구역시도코드'].astype(str).map(code_to_name)
C:\Users\rladn\AppData\Local\Temp\ipykernel_13160\3618133610.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역시도명'] = df2['행정구역시도코드'].astype(str).map(code_to_name)

In [264]:
df1.head()

       가구일련번호  행정구역시도코드  행정구역시군구코드  성별코드  만연령 행정구역시도명
0  1101000004        11         10     2   72   서울특별시
1  1101000021        11         10     2   72   서울특별시
2  1101000026        11         10     1   77   서울특별시
3  1101000026        11         10     2   71   서울특별시
4  1101000026        11         10     1   44   서울특별시

In [265]:
df2.head()

,가구일련번호,행정구역시도코드,행정구역시군구코드,남아출산수,여아출산수,혼인상태코드,초혼연령코드,인구가중값,행정구역시도명
0,1101000004,11,10,1.0,2.0,3.0,3.0,32,서울특별시
1,1101000021,11,10,1.0,2.0,3.0,4.0,40,서울특별시
2,1101000026,11,10,NaN,NaN,2.0,5.0,24,서울특별시
3,1101000026,11,10,1.0,1.0,2.0,4.0,23,서울특별시
4,1101000026,11,10,NaN,NaN,1.0,NaN,22,서울특별시

In [266]:
df1['행정구역시군구코드'].unique()

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 310,
       320,  11,  12,  13,  14,  21,  22,  23,  41,  42,  91,  92, 101,
       103, 104, 191, 192, 193, 260, 270, 280, 350, 370, 380, 330, 340,
       360, 390, 400, 410,  43,  44, 420, 430, 440, 450, 460, 470, 480,
       111, 112, 113, 114, 115], dtype=int64)

시군구 코드 데이터 추가로 불러오기

In [267]:
# path = '/content/drive/MyDrive/mulcam_bigdata/2024통계데이터공모전/기획_데이터수집/건우님/행정동 기준 시군구 단위.xlsx'
path = './data/행정동 기준 시군구 단위.xlsx'

In [268]:
code = pd.read_excel(path)
code.head()

   시군구코드   시도  시군구  시도_시군구
0  11010  서울   종로구  서울 종로구
1  11020  서울    중구   서울 중구
2  11030  서울   용산구  서울 용산구
3  11040  서울   성동구  서울 성동구
4  11050  서울   광진구  서울 광진구

In [269]:
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구코드   250 non-null    int64
 1   시도      249 non-null    object
 2   시군구     250 non-null    object
 3   시도_시군구  250 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.9+ KB

In [270]:
code[code['시도'].isnull()]

    시군구코드   시도      시군구   시도_시군구
74  29010  NaN  세종특별자치시  세종특별자치시

In [271]:
# 세종특별자치시로 채우기
code['시도'] = code['시도'].fillna('세종특별자치시')
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구코드   250 non-null    int64
 1   시도      250 non-null    object
 2   시군구     250 non-null    object
 3   시도_시군구  250 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.9+ KB

In [272]:
code['시군구코드'].unique()

array([11010, 11020, 11030, 11040, 11050, 11060, 11070, 11080, 11090,
       11100, 11110, 11120, 11130, 11140, 11150, 11160, 11170, 11180,
       11190, 11200, 11210, 11220, 11230, 11240, 11250, 21010, 21020,
       21030, 21040, 21050, 21060, 21070, 21080, 21090, 21100, 21110,
       21120, 21130, 21140, 21150, 21310, 22010, 22020, 22030, 22040,
       22050, 22060, 22070, 22310, 23010, 23020, 23040, 23050, 23060,
       23070, 23080, 23090, 23310, 23320, 24010, 24020, 24030, 24040,
       24050, 25010, 25020, 25030, 25040, 25050, 26010, 26020, 26030,
       26040, 26310, 29010, 31011, 31012, 31013, 31014, 31021, 31022,
       31023, 31030, 31041, 31042, 31050, 31060, 31070, 31080, 31091,
       31092, 31101, 31103, 31104, 31110, 31120, 31130, 31140, 31150,
       31160, 31170, 31180, 31191, 31192, 31193, 31200, 31210, 31220,
       31230, 31240, 31250, 31260, 31270, 31280, 31350, 31370, 31380,
       32010, 32020, 32030, 32040, 32050, 32060, 32070, 32310, 32320,
       32330, 32340, 32350, 32360, 32370, 32380, 32390, 32400, 32410,
       33020, 33030, 33041, 33042, 33043, 33044, 33320, 33330, 33340,
       33350, 33360, 33370, 33380, 33390, 34011, 34012, 34020, 34030,
       34040, 34050, 34060, 34070, 34080, 34310, 34330, 34340, 34350,
       34360, 34370, 34380, 35011, 35012, 35020, 35030, 35040, 35050,
       35060, 35310, 35320, 35330, 35340, 35350, 35360, 35370, 35380,
       36010, 36020, 36030, 36040, 36060, 36310, 36320, 36330, 36350,
       36360, 36370, 36380, 36390, 36400, 36410, 36420, 36430, 36440,
       36450, 36460, 36470, 36480, 37011, 37012, 37020, 37030, 37040,
       37050, 37060, 37070, 37080, 37090, 37100, 37310, 37320, 37330,
       37340, 37350, 37360, 37370, 37380, 37390, 37400, 37410, 37420,
       37430, 38030, 38050, 38060, 38070, 38080, 38090, 38100, 38111,
       38112, 38113, 38114, 38115, 38310, 38320, 38330, 38340, 38350,
       38360, 38370, 38380, 38390, 38400, 39010, 39020], dtype=int64)

In [273]:
code['시군구코드'].nunique()

250

In [274]:
code['시군구'].nunique()

226

In [275]:
import pandas as pd

# 중복되는 시군구 추출
duplicated_sigungus = code[code.duplicated(subset=['시군구'], keep=False)]

# 중복된 시군구의 전체 데이터 확인
duplicated_sigungus

     시군구코드       시도  시군구     시도_시군구
1    11020      서울    중구      서울 중구
15   11160      서울   강서구     서울 강서구
25   21010      부산    중구      부산 중구
26   21020      부산    서구      부산 서구
27   21030      부산    동구      부산 동구
31   21070      부산    남구      부산 남구
32   21080      부산    북구      부산 북구
36   21120      부산   강서구     부산 강서구
41   22010      대구    중구      대구 중구
42   22020      대구    동구      대구 동구
43   22030      대구    서구      대구 서구
44   22040      대구    남구      대구 남구
45   22050      대구    북구      대구 북구
49   23010      인천    중구      인천 중구
50   23020      인천    동구      인천 동구
55   23080      인천    서구      인천 서구
59   24010      광주    동구      광주 동구
60   24020      광주    서구      광주 서구
61   24030      광주    남구      광주 남구
62   24040      광주    북구      광주 북구
64   25010      대전    동구      대전 동구
65   25020      대전    중구      대전 중구
66   25030      대전    서구      대전 서구
69   26010      울산    중구      울산 중구
70   26020      울산    남구      울산 남구
71   26030      울산    동구      울산 동구
72   26040      울산    북구      울산 북구
133  32400      강원   고성군     강원 고성군
202  37011  경북 포항시    남구  경북 포항시 남구
203  37012  경북 포항시    북구  경북 포항시 북구
241  38340      경남   고성군     경남 고성군

In [276]:
df1.columns

Index(['가구일련번호', '행정구역시도코드', '행정구역시군구코드', '성별코드', '만연령', '행정구역시도명'], dtype='object')

In [277]:
# df1의 시도코드와 시군구코드를 결합하여 5자리 문자열로 만듦
df1['시군구코드'] = (df1['행정구역시도코드'].astype(str).str.zfill(2) +
                       df1['행정구역시군구코드'].astype(str).str.zfill(3))

# `code` 데이터프레임의 시군구코드를 문자열로 변환
code['시군구코드'] = code['시군구코드'].astype(str)

# `df1`와 `code`를 'combined_code'와 '시군구코드'를 기준으로 병합
merged_df1 = df1.merge(code, left_on='시군구코드', right_on='시군구코드', how='left')

# 필요한 컬럼 선택 및 이름 변경
merged_df1 = merged_df1[['가구일련번호','행정구역시도코드', '행정구역시군구코드', '시군구코드', '성별코드',
                         '만연령','행정구역시도명','시도_시군구']]
merged_df1.rename(columns={'시도_시군구': '행정구역시군구명'}, inplace=True)

# 결과 출력
merged_df1

C:\Users\rladn\AppData\Local\Temp\ipykernel_13160\1700714868.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['시군구코드'] = (df1['행정구역시도코드'].astype(str).str.zfill(2) +

            가구일련번호  행정구역시도코드  행정구역시군구코드  시군구코드  성별코드  만연령  행정구역시도명 행정구역시군구명
0       1101000004        11         10  11010     2   72    서울특별시   서울 종로구
1       1101000021        11         10  11010     2   72    서울특별시   서울 종로구
2       1101000026        11         10  11010     1   77    서울특별시   서울 종로구
3       1101000026        11         10  11010     2   71    서울특별시   서울 종로구
4       1101000026        11         10  11010     1   44    서울특별시   서울 종로구
...            ...       ...        ...    ...   ...  ...      ...      ...
926962  3902013771        39         20  39020     1   63  제주특별자치도  제주 서귀포시
926963  3902013776        39         20  39020     2   51  제주특별자치도  제주 서귀포시
926964  3902013776        39         20  39020     1   24  제주특별자치도  제주 서귀포시
926965  3902013776        39         20  39020     2   21  제주특별자치도  제주 서귀포시
926966  3902013805        39         20  39020     1   42  제주특별자치도  제주 서귀포시

[926967 rows x 8 columns]

In [278]:
merged_df1['행정구역시군구명'].unique()

array(['서울 종로구', '서울 중구', '서울 용산구', '서울 성동구', '서울 광진구', '서울 동대문구',
       '서울 중랑구', '서울 성북구', '서울 강북구', '서울 도봉구', '서울 노원구', '서울 은평구',
       '서울 서대문구', '서울 마포구', '서울 양천구', '서울 강서구', '서울 구로구', '서울 금천구',
       '서울 영등포구', '서울 동작구', '서울 관악구', '서울 서초구', '서울 강남구', '서울 송파구',
       '서울 강동구', '부산 중구', '부산 서구', '부산 동구', '부산 영도구', '부산 부산진구', '부산 동래구',
       '부산 남구', '부산 북구', '부산 해운대구', '부산 사하구', '부산 금정구', '부산 강서구',
       '부산 연제구', '부산 수영구', '부산 사상구', '부산 기장군', '대구 중구', '대구 동구', '대구 서구',
       '대구 남구', '대구 북구', '대구 수성구', '대구 달서구', '대구 달성군', '인천 중구', '인천 동구',
       '인천 연수구', '인천 남동구', '인천 부평구', '인천 계양구', '인천 서구', '인천 미추홀구',
       '인천 강화군', '인천 옹진군', '광주 동구', '광주 서구', '광주 남구', '광주 북구', '광주 광산구',
       '대전 동구', '대전 중구', '대전 서구', '대전 유성구', '대전 대덕구', '울산 중구', '울산 남구',
       '울산 동구', '울산 북구', '울산 울주군', '세종특별자치시', '경기 장안구', '경기 권선구',
       '경기 팔달구', '경기 영통구', '경기 수정구', '경기 중원구', '경기 분당구', '경기 의정부시',
       '경기 만안구', '경기 동안구', '경기 부천시', '경기 광명시', '경기 평택시', '경기 동두천시',
       '경기 상록구', '경기 단원구', '경기 덕양구', '경기 일산동구', '경기 일산서구', '경기 과천시',
       '경기 구리시', '경기 남양주시', '경기 오산시', '경기 시흥시', '경기 군포시', '경기 의왕시',
       '경기 하남시', '경기 처인구', '경기 기흥구', '경기 수지구', '경기 파주시', '경기 이천시',
       '경기 안성시', '경기 김포시', '경기 화성시', '경기 광주시', '경기 양주시', '경기 포천시',
       '경기 여주시', '경기 연천군', '경기 가평군', '경기 양평군', '강원 춘천시', '강원 원주시',
       '강원 강릉시', '강원 동해시', '강원 태백시', '강원 속초시', '강원 삼척시', '강원 홍천군',
       '강원 횡성군', '강원 영월군', '강원 평창군', '강원 정선군', '강원 철원군', '강원 화천군',
       '강원 양구군', '강원 인제군', '강원 고성군', '강원 양양군', '충북 충주시', '충북 제천시',
       '충북 상당구', '충북 서원구', '충북 흥덕구', '충북 청원구', '충북 보은군', '충북 옥천군',
       '충북 영동군', '충북 진천군', '충북 괴산군', '충북 음성군', '충북 단양군', '충북 증평군',
       '충남 동남구', '충남 서북구', '충남 공주시', '충남 보령시', '충남 아산시', '충남 서산시',
       '충남 논산시', '충남 계룡시', '충남 당진시', '충남 금산군', '충남 부여군', '충남 서천군',
       '충남 청양군', '충남 홍성군', '충남 예산군', '충남 태안군', '전북 완산구', '전북 덕진구',
       '전북 군산시', '전북 익산시', '전북 정읍시', '전북 남원시', '전북 김제시', '전북 완주군',
       '전북 진안군', '전북 무주군', '전북 장수군', '전북 임실군', '전북 순창군', '전북 고창군',
       '전북 부안군', '전남 목포시', '전남 여수시', '전남 순천시', '전남 나주시', '전남 광양시',
       '전남 담양군', '전남 곡성군', '전남 구례군', '전남 고흥군', '전남 보성군', '전남 화순군',
       '전남 장흥군', '전남 강진군', '전남 해남군', '전남 영암군', '전남 무안군', '전남 함평군',
       '전남 영광군', '전남 장성군', '전남 완도군', '전남 진도군', '전남 신안군', '경북 포항시 남구',
       '경북 포항시 북구', '경북 경주시', '경북 김천시', '경북 안동시', '경북 구미시', '경북 영주시',
       '경북 영천시', '경북 상주시', '경북 문경시', '경북 경산시', '경북 군위군', '경북 의성군',
       '경북 청송군', '경북 영양군', '경북 영덕군', '경북 청도군', '경북 고령군', '경북 성주군',
       '경북 칠곡군', '경북 예천군', '경북 봉화군', '경북 울진군', '경북 울릉군', '경남 진주시',
       '경남 통영시', '경남 사천시', '경남 김해시', '경남 밀양시', '경남 거제시', '경남 양산시',
       '경남 창원시 의창구', '경남 창원시 성산구', '경남 창원시 마산합포구', '경남 창원시 마산회원구',
       '경남 창원시 진해구', '경남 의령군', '경남 함안군', '경남 창녕군', '경남 고성군', '경남 남해군',
       '경남 하동군', '경남 산청군', '경남 함양군', '경남 거창군', '경남 합천군', '제주 제주시',
       '제주 서귀포시'], dtype=object)

In [279]:
df2.columns

Index(['가구일련번호', '행정구역시도코드', '행정구역시군구코드', '남아출산수', '여아출산수', '혼인상태코드', '초혼연령코드',
       '인구가중값', '행정구역시도명'],
      dtype='object')

In [280]:
# df2의 시도코드와 시군구코드를 결합하여 5자리 문자열로 만듦
df2['시군구코드'] = (df2['행정구역시도코드'].astype(str).str.zfill(2) +
                       df2['행정구역시군구코드'].astype(str).str.zfill(3))

# `code` 데이터프레임의 시군구코드를 문자열로 변환
code['시군구코드'] = code['시군구코드'].astype(str)

# `df1`와 `code`를 'combined_code'와 '시군구코드'를 기준으로 병합
merged_df2 = df2.merge(code, left_on='시군구코드', right_on='시군구코드', how='left')

# 필요한 컬럼 선택 및 이름 변경
merged_df2 = merged_df2[['가구일련번호','행정구역시도코드', '행정구역시군구코드', '시군구코드', '남아출산수', 
                         '여아출산수', '혼인상태코드', '초혼연령코드','인구가중값','시도_시군구']]
merged_df2.rename(columns={'시도_시군구': '행정구역시군구명'}, inplace=True)

# 결과 출력
merged_df2

C:\Users\rladn\AppData\Local\Temp\ipykernel_13160\560858395.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['시군구코드'] = (df2['행정구역시도코드'].astype(str).str.zfill(2) +

,가구일련번호,행정구역시도코드,행정구역시군구코드,시군구코드,남아출산수,여아출산수,혼인상태코드,초혼연령코드,인구가중값,행정구역시군구명
0,1101000004,11,10,11010,1.0,2.0,3.0,3.0,32,서울 종로구
1,1101000021,11,10,11010,1.0,2.0,3.0,4.0,40,서울 종로구
2,1101000026,11,10,11010,NaN,NaN,2.0,5.0,24,서울 종로구
3,1101000026,11,10,11010,1.0,1.0,2.0,4.0,23,서울 종로구
4,1101000026,11,10,11010,NaN,NaN,1.0,NaN,22,서울 종로구
...,...,...,...,...,...,...,...,...,...,...
926962,3902013771,39,20,39020,NaN,NaN,4.0,4.0,105,제주 서귀포시
926963,3902013776,39,20,39020,1.0,1.0,2.0,4.0,70,제주 서귀포시
926964,3902013776,39,20,39020,NaN,NaN,1.0,NaN,79,제주 서귀포시
926965,3902013776,39,20,39020,NaN,NaN,1.0,NaN,75,제주 서귀포시
926966,3902013805,39,20,39020,NaN,NaN,2.0,3.0,103,제주 서귀포시

In [281]:
print(merged_df1.행정구역시군구명.nunique())
print(merged_df2.행정구역시군구명.nunique())

250
250

In [282]:
merged_df1['만연령'].unique()

array([72, 77, 71, 44, 23, 28, 21, 30, 27, 59, 56, 32, 80, 42, 45, 43, 11,
       22, 20, 13, 12, 62, 60, 29, 54, 38, 34, 55, 52, 51, 25, 24, 19, 33,
       67, 65, 85, 40, 64, 37, 39,  7,  5, 75, 36, 66, 41,  8,  6, 78, 14,
       50, 46, 17, 81, 79, 61, 35, 69, 76,  3, 47, 31, 58, 68, 57, 49, 18,
       16, 53, 63,  2,  4,  0, 74, 73, 83, 15, 48, 26, 10, 70,  1, 82, 84,
        9], dtype=int64)

In [283]:
# # 소아청소년만 추출 (0~19세)
df1_youth =merged_df1[merged_df1['만연령'].between(0, 19)]
df1_youth

            가구일련번호  행정구역시도코드  행정구역시군구코드  시군구코드  성별코드  만연령  행정구역시도명 행정구역시군구명
18      1101000114        11         10  11010     2   11    서울특별시   서울 종로구
23      1101000165        11         10  11010     1   13    서울특별시   서울 종로구
24      1101000165        11         10  11010     2   12    서울특별시   서울 종로구
25      1101000165        11         10  11010     2   12    서울특별시   서울 종로구
41      1101000217        11         10  11010     2   19    서울특별시   서울 종로구
...            ...       ...        ...    ...   ...  ...      ...      ...
926950  3902013733        39         20  39020     1   12  제주특별자치도  제주 서귀포시
926951  3902013733        39         20  39020     1    8  제주특별자치도  제주 서귀포시
926953  3902013734        39         20  39020     1   11  제주특별자치도  제주 서귀포시
926954  3902013734        39         20  39020     2   14  제주특별자치도  제주 서귀포시
926961  3902013744        39         20  39020     1   13  제주특별자치도  제주 서귀포시

[149717 rows x 8 columns]

In [284]:
df1_youth.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149717 entries, 18 to 926961
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   가구일련번호     149717 non-null  int64
 1   행정구역시도코드   149717 non-null  int64
 2   행정구역시군구코드  149717 non-null  int64
 3   시군구코드      149717 non-null  object
 4   성별코드       149717 non-null  int64
 5   만연령        149717 non-null  int64
 6   행정구역시도명    149717 non-null  object
 7   행정구역시군구명   149717 non-null  object
dtypes: int64(5), object(3)
memory usage: 10.3+ MB

In [285]:
pd.DataFrame(df1_youth.행정구역시군구명.value_counts())

          count
행정구역시군구명
경기 화성시     2319
경기 부천시     2227
경기 분당구     2093
경기 남양주시    1816
서울 강남구     1634
...         ...
강원 양양군       99
경북 청송군       94
경북 영양군       78
경북 군위군       69
경북 울릉군       51

[250 rows x 1 columns]

In [286]:
# df1_youth.to_csv('(전처리함)2020_2%_시군구별_소아청소년 인구.csv', index=False, encoding='utf-8')

In [287]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926967 entries, 0 to 926966
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   가구일련번호     926967 non-null  int64
 1   행정구역시도코드   926967 non-null  int64
 2   행정구역시군구코드  926967 non-null  int64
 3   시군구코드      926967 non-null  object
 4   남아출산수      294354 non-null  float64
 5   여아출산수      294353 non-null  float64
 6   혼인상태코드     818549 non-null  float64
 7   초혼연령코드     586472 non-null  float64
 8   인구가중값      926967 non-null  int64
 9   행정구역시군구명   926967 non-null  object
dtypes: float64(4), int64(4), object(2)
memory usage: 70.7+ MB

In [288]:
# 남아출산수와 여아출산수의 null을 0으로 대체
merged_df2['남아출산수'] = merged_df2['남아출산수'].fillna(0)
merged_df2['여아출산수'] = merged_df2['여아출산수'].fillna(0)
    
# 출생아수 컬럼 생성
merged_df2['출생아수'] = merged_df2['남아출산수'] + merged_df2['여아출산수']

혼인상태 코드
 - 1	미혼
 - 2	배우자 있음
 - 3	사별
 - 4	이혼

초혼연령코드
 - 1	15세미만
 - 2	15-19세
 - 3	20-24세
 - 4	25-29세
 - 5	30-34세
 - 6	35-39세
 - 7	40세이상

In [289]:
merged_df2.head()

,가구일련번호,행정구역시도코드,행정구역시군구코드,시군구코드,남아출산수,여아출산수,혼인상태코드,초혼연령코드,인구가중값,행정구역시군구명,출생아수
0,1101000004,11,10,11010,1.0,2.0,3.0,3.0,32,서울 종로구,3.0
1,1101000021,11,10,11010,1.0,2.0,3.0,4.0,40,서울 종로구,3.0
2,1101000026,11,10,11010,0.0,0.0,2.0,5.0,24,서울 종로구,0.0
3,1101000026,11,10,11010,1.0,1.0,2.0,4.0,23,서울 종로구,2.0
4,1101000026,11,10,11010,0.0,0.0,1.0,NaN,22,서울 종로구,0.0

신혼부부 정의 : 통계청는 혼인 후 '5년'을 '신혼'으로 정의함.<br>
평균 초혼연령 추이 : (통계청) 2022년 남:33.7, 여:31.3 / 2023년 남:34.0, 여:31.5<br>

위 기준에 의거하여 신혼부부수 기준을 성인(만19세)부터 평균 초혼연령 + 5년으로 정함.

혼인상태는 미혼만 제외

In [290]:
# 신혼부부수 컬럼 생성
merged_df2['신혼부부'] = ((merged_df2['혼인상태코드'] != 1) & (merged_df2['초혼연령코드'].isin([3, 4, 5, 6]))).astype(int)

In [291]:
merged_df2.head()

,가구일련번호,행정구역시도코드,행정구역시군구코드,시군구코드,남아출산수,여아출산수,혼인상태코드,초혼연령코드,인구가중값,행정구역시군구명,출생아수,신혼부부
0,1101000004,11,10,11010,1.0,2.0,3.0,3.0,32,서울 종로구,3.0,1
1,1101000021,11,10,11010,1.0,2.0,3.0,4.0,40,서울 종로구,3.0,1
2,1101000026,11,10,11010,0.0,0.0,2.0,5.0,24,서울 종로구,0.0,1
3,1101000026,11,10,11010,1.0,1.0,2.0,4.0,23,서울 종로구,2.0,1
4,1101000026,11,10,11010,0.0,0.0,1.0,NaN,22,서울 종로구,0.0,0

In [292]:
col = ['가구일련번호','출생아수','신혼부부']
merged_df2[col].head()

       가구일련번호  출생아수  신혼부부
0  1101000004   3.0     1
1  1101000021   3.0     1
2  1101000026   0.0     1
3  1101000026   2.0     1
4  1101000026   0.0     0

In [293]:
merged_df2[col].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926967 entries, 0 to 926966
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   가구일련번호  926967 non-null  int64
 1   출생아수    926967 non-null  float64
 2   신혼부부    926967 non-null  int32
dtypes: float64(1), int32(1), int64(1)
memory usage: 17.7 MB

In [294]:
df2_numBirths = merged_df2[col]
df2_numBirths.head()

       가구일련번호  출생아수  신혼부부
0  1101000004   3.0     1
1  1101000021   3.0     1
2  1101000026   0.0     1
3  1101000026   2.0     1
4  1101000026   0.0     0

데이터 병합

In [295]:
# 데이터프레임 'df1_youth'와 'df2_numBirths'를 '가구일련번호'를 기준으로 병합
result_df = df1_youth.merge(df2_numBirths, on='가구일련번호', how='left')

In [296]:
result_df.head()

,가구일련번호,행정구역시도코드,행정구역시군구코드,시군구코드,성별코드,만연령,행정구역시도명,행정구역시군구명,출생아수,신혼부부
0,1101000114,11,10,11010,2,11,서울특별시,서울 종로구,0.0,1
1,1101000114,11,10,11010,2,11,서울특별시,서울 종로구,1.0,1
2,1101000114,11,10,11010,2,11,서울특별시,서울 종로구,0.0,0
3,1101000165,11,10,11010,1,13,서울특별시,서울 종로구,0.0,1
4,1101000165,11,10,11010,1,13,서울특별시,서울 종로구,3.0,1

In [298]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590570 entries, 0 to 590569
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   가구일련번호     590570 non-null  int64
 1   행정구역시도코드   590570 non-null  int64
 2   행정구역시군구코드  590570 non-null  int64
 3   시군구코드      590570 non-null  object
 4   성별코드       590570 non-null  int64
 5   만연령        590570 non-null  int64
 6   행정구역시도명    590570 non-null  object
 7   행정구역시군구명   590570 non-null  object
 8   출생아수       590570 non-null  float64
 9   신혼부부       590570 non-null  int32
dtypes: float64(1), int32(1), int64(5), object(3)
memory usage: 42.8+ MB

In [299]:
# result_df.to_csv('(전처리함)2020_2%_시군구별_소아청소년 인구.csv', index=False, encoding='utf-8')

In [297]:
summary_df = result_df.groupby('행정구역시군구명').agg({
    '출생아수': 'sum',
    '신혼부부': 'sum'
    }).reset_index()

summary_df

    행정구역시군구명    출생아수  신혼부부
0     강원 강릉시  1066.0   871
1     강원 고성군   292.0   231
2     강원 동해시   893.0   736
3     강원 삼척시   547.0   404
4     강원 속초시   705.0   551
..       ...     ...   ...
245   충북 증평군   331.0   262
246   충북 진천군   653.0   563
247   충북 청원구  1787.0  1563
248   충북 충주시  1208.0   936
249   충북 흥덕구  1776.0  1473

[250 rows x 3 columns]